.service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #ccc; /* Optional border for visual separation */
  border-radius: 10px;
  overflow: hidden;
  padding: 10px; /* Optional padding for spacing */
  margin: 100px; /* Optional margin for spacing */
}

.service-details {
  flex: 5; /* Make the text div grow to fill available space */
  padding: 30px; /* Optional padding for spacing inside the text div */
}

.service-details h3 {
  font-size: 40px; /* Adjust the font size as needed */
}

.service-image {
  flex: 1; /* Make the image div grow to fill available space */
}

.service-image img {
  width: 100%; /* Ensure the image takes up the entire width of its container */
  max-width: 100%; /* Ensure the image does not exceed its container's width */
  height: auto; /* Maintain the image's aspect ratio */
}
