.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  margin-bottom: 100px;

}

.about-details {
  flex: 1;
  margin: 50px;
}

.about-details h3 {
  font-size: 40px;
  border-bottom: 1px solid #000;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
